body {
    background-color: forestgreen;
}

#header {
    position: relative;
}

#yt-button {
    background-image: url("assets/yt-logo.png");
}

.right-header {
    position: absolute;
    right: 0px;
}